#profile
	padding .5em

	.avatar
		float right
		margin-left 1em

	.profile-badges
		float right
		margin-right -.5em

		i
			display inline-block
			zoom .5

	#info
		user-select initial

		#info-description
			margin-top .5em
