branches:
  only:
    - master

version: "{build}"

shallow_clone: true

environment:
  matrix:
    - nodejs_version: 0.12

cache:
  - node_modules -> package.json

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - node_modules/.bin/gulp build:vendor:icons build:vendor:twitter-text
  - npm run ci-appveyor
