{
	"extends": "eslint-config-twic",
	"rules": {
		"no-console": 0,
		"no-unused-vars": 0,
		"yoda": 0,
		"dot-notation": 0,
		"brace-style": 2,
		"no-multiple-empty-lines": 2,
		"curly": 2,
		"no-extra-bind": 2,
		"one-var": [2, {
			"initialized": "never"
		}],
		"no-unreachable": 1
	}
}
