:local(.windows)
	font-family "Segoe UI", "Trebuchet MS", Tahoma, Verdana, sans-serif

:local(.osx)
	font-family "Lucida Grande", Helvetica, sans-serif

:local(.linux)
	font-family Ubuntu, "Droid Sans", sans-serif
