extends ../../base/ui/base.jade

block title
	title= package.name

block styles
	link(href='vendor.css', rel='stylesheet')
	link(href='index.css', rel='stylesheet')

block scripts
	script(src='vendor.js')
	script(src='index.js')
