:local(.toolbar)
	padding 5px
	border 0px solid rgba(0, 0, 0, .05)
	border-width 0
	background-color #eaeaea
	text-align center
	cursor default

	a
		margin 0 .5em

	&:local(.positionTop)
		margin-top 0

	&:local(.positionBottom)
		margin-bottom 0
