.tweet
	padding 6px 6px 4px 6px
	clear both
	display box

	.tweet-retweet-info
		display flex
		margin-left 56px
		margin-bottom .25em
		font-size 8pt
		color #808080

		a
			color #808080

		i
			display inline-block
			zoom .3
			// @todo think about this shit
			margin-right 14px
			margin-left -64px

	.tweet-avatar
		float left

	.tweet-content
		display block
		margin-left 56px

		.tweet-text
			margin-bottom .5em
			user-select initial
			word-wrap break-word /* split long words */

			.tweet-link,
			.tweet-link-hashtag,
			.tweet-link-mention
				white-space nowrap

		.tweet-time
			color gray
			font-size .8em
