.gallery
	margin-top .5em

	.gallery-item
		display inline-block
		margin-right 4px

		&:last-child
			margin-right 0

		img
			max-width = 100px

			width max-width
			height (max-width / 100 * 75)
			object-position center
			object-fit cover

			border 1px solid rgba(0, 0, 0, .05)
