.gallery
	margin-top .5em

	.gallery-item
		display inline-block
		margin-right 8px

		&:last-child
			margin-right 0

		img
			max-width 100px
			max-height 150px
			border 1px solid rgba(0, 0, 0, .05)
