.tweetlist
	margin-bottom 1px

	.tweet
		border-top 1px solid rgba(192, 192, 192, .5)

		// just to avoid scrollbar intersection in os x
		.osx &
			padding-right: 12px;

		&:first-child
			border-top initial
