.tweet
	padding 4px
	margin-bottom 1px
	border-top 1px solid rgba(192, 192, 192, .4)
	clear both
	display box

	&:first-child
		border-top initial

	.tweet-avatar
		float left

	.tweet-content
		display block
		margin-left 54px

		.tweet-text
			user-select initial
			word-wrap break-word /* split long words */
