.tweet
	padding 6px 6px 4px 6px
	border-top 1px solid rgba(192, 192, 192, .4)
	clear both
	display box

	&:first-child
		border-top initial

	.tweet-avatar
		float left

	.tweet-content
		display block
		margin-left 54px

		.tweet-text
			user-select initial
			word-wrap break-word /* split long words */

		.tweet-time
			display block
			color gray
			font-size .8em
			margin-top 1em
