.tweet
	padding 4px
	margin-bottom 1px
	box-shadow 0 1px 1px rgba(192, 192, 192, .4)
	clear both
	display box

	&:last-child
		box-shadow initial

	.tweet-text
		user-select initial
		word-wrap break-word /* split long words */

	.avatar
		float left
		margin-right .5em
