$item-max-width = 310px
$item-margin = 4px

getImagesRowCount(count)
	if count == 4
		2
	else if count > 4
		3
	else
		count

getImageWidth(count)
	$rowCount = getImagesRowCount(count)
	$item-max-width / $rowCount - $item-margin * $rowCount

getImageHeight(count)
	getImageWidth(count) / 100 * 60

// --------------------------

.gallery
	margin-top .5em

	.gallery-item
		display inline-block
		margin-right $item-margin
		vertical-align top

		&:last-child
			margin-right 0

		img
			object-position center
			object-fit cover

			border 1px solid rgba(0, 0, 0, .05)

	for i in 1..5
		&.gallery-{i} img
			max-width getImageWidth(i)
			max-height getImageHeight(i)
