extends ../../base/client/ui/base.jade

block styles
	link(href='vendor.css', rel='stylesheet')
	link(href='index.css', rel='stylesheet')

block scripts
	script(src='vendor.js')
	script(src='index.js')

block content
	#content
