.account
	display: inline-block
	padding: 10px 20px
	cursor: pointer
	opacity: .8
	transition: opacity 0.15s ease-in-out;

	&:hover
		opacity: 1
		text-decoration: none

	.nick
		display: block
		color: black
		margin-top: .5em
