.account
	display inline-block
	padding 1.5em 1.75em
	cursor pointer
	opacity .8
	transition opacity 0.15s ease-in-out
	border 1px solid transparent
	border-radius .5em
	will-change opacity

	&:hover
		opacity 1
		text-decoration none

	.nick
		display block
		color black
		margin-top .5em

	&.account-removing
		border-color red
		opacity 1

		.nick
			text-decoration line-through

	&.account-need-auth
		opacity .25
