.map
	margin-top 1em
	user-select none
	display block

	.marker
		width 380px
		height 200px
		position absolute
		display flex
		text-align center
		align-items center

		i
			display inline-block
			zoom: .5
			margin: -40px auto 0

	img
		max-width 380px
