@keyframes jiggle
	0%
		transform rotate(-1deg)
	50%
		transform rotate(1deg)

.account
	display inline-block
	padding 1.5em 1.75em
	cursor pointer
	border 1px solid transparent
	border-radius .5em
	position relative

	.nick
		display block
		color black
		margin-top .5em

	.avatar
		opacity .8
		transition opacity 0.15s ease-in-out

	&:hover
		opacity 1
		text-decoration none

		.avatar
			opacity 1

	.account-remover
		display none
		background-color #2f2f2f
		border 1px solid white
		border-radius 12px
		box-shadow 0 0 1px #333
		color white
		font-size 11px
		position absolute
		width 16px
		height 16px
		left 13px
		top 10px
		opacity .8
		transform rotate(45deg)
		transition all .5s ease-in-out

		&:hover
			opacity 1
			background-color black
			box-shadow 0 0 3px #333

	&.account-remove-candidate
		animation jiggle .2s infinite

		.account-remover
			display block

	&.account-removing
		border-color red
		opacity 1

		.nick
			text-decoration line-through

	&.account-need-auth
		opacity .5
