{
	"parser": "babel-eslint",
	"plugins": [
		"react"
	],
	"globals": {
		"process": true,
	},
	"env": {
		"browser": true
	},
	"rules": {
		"complexity": [1, 15],

		// react
		"react/jsx-no-undef": 2,
		"react/jsx-quotes": [2, "double"],
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/no-unknown-property": 2
		//"react/prop-types": 2
	}
}
