@keyframes loader-spin
    100%
        transform rotate(360deg)

.loader
	width 100%
	opacity 1
	transition opacity .25s ease-in-out

	i
		display block
		margin 5% auto
		animation loader-spin .75s steps(12) infinite

	&.loader-hidden
		opacity 0
